@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: hsl(0deg 50% 95%);
  --code-background: hsl(0deg 0% 70% / 0.2);
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}
